
  <div class="card" style="width: 18rem; float: left; margin: 1%;">
      <img src="/images/crunchyroll_logo.jpg" class="card-img-top" alt="..." style="width: 10rem; float: left;">
      <div class="card-body">
        <h5 class="card-title">{{ subscription.name }}</h5>
        <p class="card-text">List of previous payments.</p>
        <a href="{{ path('detailSubscription', {id: subscription.id}) }}" class="btn btn-primary">Detail</a>
      </div>
  </div>
